BasedOnStyle: LLVM
Language: Cpp
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
ColumnLimit: 90
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
DerivePointerAlignment: true
SpacesInAngles: false
Standard: c++20
UseTab: Never
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterControlStatement: false
  BeforeCatch: false
  BeforeElse: false
